@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    for (int i = 0; i < 3; i++)
    {
        <br />
    }
}

@{
    <div class="card text-center" style="width: 39rem; margin-left: auto; margin-right: auto;">
        <img src="/cat.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title display-5">Here's a random cat fact LMAO xD</h5>
            <p class="card-body">@IndexModel.catFact.fact</p>
        </div>
        <div class="card-footer">
            <a href="/">Refresh</a> for one more
        </div>
    </div>
}
@*
@{
    for (int i = 0; i < 4; i++)
    {
        
        <h1 class="display-1 
                 hover-overlay hover-zoom hover-shadow ripple
            text-light bg-gradient bg-success p-5">Line @i</h1>
    }
*@