@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    for (int i = 0; i < 10; i++)
    {
        <br />
    }
}

@{
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title display-5">Here's a random cat fact LMAO xD</h5>
            <p class="card-body">@IndexModel.catFact.fact</p>
        </div>
    </div>
}
@*
@{
    for (int i = 0; i < 4; i++)
    {
        
        <h1 class="display-1 
                 hover-overlay hover-zoom hover-shadow ripple
            text-light bg-gradient bg-success p-5">Line @i</h1>
    }
*@