@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There's really nothing to say, this super light 'web app' gets the facts from <a href="https://catfact.ninja/fact">https://catfact.ninja/fact</a></p>
<p> class="text-secondary"I really made it to demo getting and processing a json data from the web.</p>
